:root {
	--dark-violet: #47008e;
	--violet: #5900b2;
	--tint-violet: #7800c1;
	--bg-grey: #f3f3f5;
	--btn2-pressed: #ccace8;
	--btn2-hover: #eee3f8;
	--white: #FFFFFF;
}

.text-default {
	font-family: 'SF Pro Display Regular';
    font-weight: normal;
    font-style: normal;
    color: grey;
}

.text-bold {
	font-family: 'SF Pro Display';
    font-weight: bold;
    font-style: normal;
    color:black;
}

.text-logo {
	font-family: 'SF Pro Display';
  font-weight: normal;
  font-style: normal;
  color:black;
	font-size: 2em;


}

* {
	box-sizing: border-box;
}



img {
	width: 100%;
	height: 100%;;
}

a {
	text-decoration: none;
}


header {
	background: var(--violet);
}


header nav {
	margin-left: auto;
	line-height: 60px;
	display: inline-block;

}

.nav-link a {
	color: transparent;
	width: 25vh;
	line-height: 100%;
	margin: 20px;
	border-radius: 30px;
}

.main {
	height: 100%;
}

#logo {
	color:var(--white);
	font-size: 2em;



}

div .nav-link {
	display: flex;
	justify-content: center;
}

div.nav-link a {
	margin-left: 10%;
	margin-right: auto;
	background: var(--dark-violet);
}

div.nav-link a:hover {
	margin-left: 10%;
	margin-right: auto;
	background: var(--tint-violet);
}


div .profile {
	position: relative;
	right: 50%;

}


div #avatar {
	position: absolute;
	top: 10px;
	bottom: 10px;
	margin-left: 10px;
	margin-top: 5px;
	width: 32px;
	height: 32px;
}

div #name {
	margin-left: 2px;
	color:var(--white);
	background: var(--tint-violet);
	padding: 10px 50px 10px 40px;
	border-radius: 20px;
}


div #btn {
	position: relative;
	width: 16px;
	height: 16px;
}


div #btn-nav {
	position: relative;
	width: 16px;
	height: 16px;
}

body {
	margin: 0;
	background: var(--bg-grey);
}


main {
	height: 100%;
	display:flex;
	flex-direction: row;
}

section {
	margin-top: 30px;
	background: var(--white);
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

.right-section {
	height: 100%;


}


.right-section a {
	color: var(--font-grey);
	padding: 10px 50px 20px 20px;
	border-left: 5px solid transparent;
	text-align: center;
}

.right-section a:hover {
	color: black;
	border-left: 5px solid #5900b2;

}

.left-section {
	border-right: 20px solid #f3f3f5;
}

.grey-color {
	color: grey;
}

form {
	flex: 1 0 auto;
	width: 70%;
	padding: 10px 30px 30px 40px;
}



.two-btn {
	flex: 0 0 auto;
	padding: 10px 30px 30px 40px;
}


input[type=text] {
	height: 40px;
	width: 100%;
	border: 2px solid var(--bg-grey);
	border-radius: 40px;
	outline-style: none;
}

input[type=range]{
	height: 40px;
	width: 100%;
	border-radius: 15px;
	background: var(--violet);
	border-color: var(--violet);
  outline: none;
  opacity: 0.7;


}


.new-skill-btn {
	background: var(--bg-grey);
	padding: 0px 20px 5px 20px;
	font-size: 30px;
	border-radius: 30%;

}

.new-skill {
	margin-left: 10px;
}


#save {
	background: var(--violet);
	color: var(--white);
	padding: 5px 20px 5px 20px;
  border-radius: 15px;
}

#save:hover {
	background: var(--tint-violet);
	color: var(--white);
}



#cancel {
	background: var(--btn2-hover);
	color: var(--font-grey);
	padding: 5px 25px 5px 25px;
	border-radius: 15px;
}


#cancel:hover {
	background: var(--btn2-pressed);
	color: black;
}

footer {
	text-align: center;
	background: var(--bg-grey);
}


@media screen and (min-width: 992px) and (max-width: 1200px){
    /* body {
        background: #D81B60;
    } */
}


@media screen and (min-width: 768px) and (max-width: 991px){
    /* body {
        background: #8E24AA;
    } */
		.nav-link a {
			display: none;

		}

		div .nav-link {
				display: none;
		}

		div.nav-link a {
				display: none;
		}

		div.nav-link a:hover {
				display: none;
		}
}


@media screen and (min-width: 600px) and (max-width: 767px){
    /* body {
        background: #5E35B1;
    } */

		.nav-link a {
			display: none;

		}


#right {
	display: none;


}
.nav-link a {
	display: none;

}

div .nav-link {
		display: none;
}

div.nav-link a {
		display: none;
}

div.nav-link a:hover {
		display: none;

}

div.btn-nav {
	display: none;
}

}


@media screen and (max-width: 599px){
    /* body {
        background: #3949AB;
    } */

		div.btn-nav {
			display: none;
		}

		#right {
			display: none;
		}
		.nav-link a {
			display: none;

		}

		.nav-link a {
			display: none;

		}

		div .nav-link {
				display: none;
		}

		div.nav-link a {
				display: none;
		}

		div.nav-link a:hover {
				display: none;}

}
